body{
    max-height:100vh;
    width:100vw;
}
#menu{
    height:15%;
    background-color:blue;
}
#left_gutter, #right_gutter{
    height:85%;
    float:left;
    overflow:scroll;
}
#main{
    height:85%;
    background-color: orange;
    float:left;
}
#player_list_table{

}

