body{
    font-family: PT Sans Narrow;
}

#outer_limits{
    max-height:100vh;
    max-width:100vw;
}
#menu{
    border:1px solid black;
    background-color:#d9d9d9;
    height:15%;
    width:98%;
    
}

.menu_div{
    width:23%;
    height: 98%;
    float:left;
    border-right:1px solid black;
    /*text-align:center;*/
}

.menu_div_title{
font-weight: bold;
padding:5px;
text-align:center;
}

#players{
    border:1px solid green;
    float:left;
    max-height:85%;
    width:25%;
     
}

#player_list_filter{
    margin: 5px;
    max-height:14%;
}

#player_list{
    max-height:84%;
    overflow: scroll;
}
/*Removed the TH from the specification since it overlapped the other border*/
#player_list_table{
    border-collapse: separate;
    border: 1px solid black; 

}
/*Adding this as a separate line item allows the rounded outer border*/
#player_list_table{
    border-radius: 1em;   
}

#player_list_table {
    width:100%;
}

#player_list_table tr:nth-child(even){
    background-color:#d9d9d9;
}

.click_to_draft:hover{
    font-size: 1.1em;
    font-weight: bolder;
    cursor: pointer;
    background-color:black;
    color:white;
}

tr[drafted="true"]{
    background-color:#4d4d4d;
    color:#b3b3b3;
}

#teams_display{
    float:left;
    height:85%;
    width:73%;
    overflow:scroll;
}

.team_board{
    margin: 20px;
    margin-bottom:20px;
    float:left;
    width:20%;
    border-collapse: collapse;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.team_board th{
    background-color: green;
}

.team_board tr:nth-child(even){
    background-color: #dde3ee;
}

.postition_td{
    width:10%;
}

body{
    font-family: Ubuntu;
    overflow: hidden;
}

#undo_button{
    height:30px;
    width:30px;
}
#undo_button:hover{
    cursor: pointer;
}

