body {
	background-color: cornflowerblue;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 50px;
  font-family: Palatino, 'Palatino Linotype', serif;
}

h2 {
	font-size: 50px;
}


p {

}

table {
	float: left;
}

th {
	float: left;
	background-color: #b3e6ff;
	width: 10%;
	border: 1px solid ##002233;
}

td {
	float: left;
	background-color: #99ddff;
	width: 10%;
	border: 1px solid #002233;
}



