body {
	background-color: cornflowerblue;
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
	font-size: 50px;
  font-family: Palatino, 'Palatino Linotype', serif;
}

h2 {
	font-size: 50px;
}


p {

}

#menu{
	width: 300px;
	float: right;
	text-align: right;
}



